.registration-form {
    max-width: 1000px;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding: 30px;
    background-color: #414268;
    border-radius: 10px;
}

.register-titulo {
    text-align: center;
    font-size: 32px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="tel"],
.registration-form input[type="password"],
.registration-form select[type="major"] {
    display: block;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    border: none;
    background-color: #242541;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid #5b5881;
    color: white;
    margin-top: 20px;
  }

.password-group {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/ojo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
 }

.password-toggle.hide-password {
    background-image: url('../assets/icons/ojo.svg');
}

button.submit-button {
    display: block;
    margin: 0 auto;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #917cfa;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button.submit-button:hover {
    background-color: #8B008B;
    color: #fff;
}

/*Fin css registro*/
.login-form {
    max-width: 1000px;
    margin: 0 auto;
    width: 500px;
    height: 350px;
    padding: 30px;
    background-color: #414268;
    border-radius: 10px;
  }
  
  .login-titulo {
    text-align: center;
    font-size: 32px;
    color: #fff;
    margin-top: 10px;
    font-family: RobotoMono-Light;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"],
  .login-form input[type="text"],
  .login-form select[type="major"] {
    display: block;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    border: none;
    background-color: #242541;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid #5b5881;
    color: white;
    margin-top: 20px;
  }
  
  .password-group {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    left: 415px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/ojo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  
  .password-toggle.hide-password {
    background-image: url('https://img.icons8.com/ios/50/000000/invisible--v1.png');
  }
  
  button.login-button {
    display: block;
    margin: 0 auto;
    width: 65%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #917cfa;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 70px;
  }
  
  button.login-button:hover {
    background-color: #8B008B;
    color: #fff;
  }
  
  #h1 {
    float: right;
    margin-right: 60px;
  }
  
  #h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .field-container {
    margin-top: 60px;
  }
 
  /*Fin css entrar*/
.rectangulo1{
    display: block;
    position: absolute;
    width: 872px;
    height: 777px;
    left: 310px;
    top: 70px;
    background: #181B35;
    border-radius: 8px;
}
.rectangulo2{
    display: block;
    position: relative;
    width: 746px;
    height: 646px;
    left: 66px;
    top: 70px;
    background: #242641;
    border-radius: 8px;
}
.titulo{
    display: block;
    position: absolute;
    top: 30px;
    color: white;
    left: 50px;
    font-size: 31px;
    font-weight: 700;
    line-height: 41px;
}
.rectangulo3{
  display: block;
  position: absolute;
  width: 428px;
  height: 777px;
  left: 1200px;
  top: 70px;
  background: #181B35;
  border-radius: 8px;
}
.diaencontrado{
    display: block;
    position: absolute;
    width: 304px;
    height: 82px;
    left: 50px;
    top: 115px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 21px;
}
.desc{
    display: block;
    position: absolute;
    top: 177px;
    left: 50px;
    color: white;
    font-size: 16px;
    line-height: 21px;
}
.desc2{
    display: block;
    position: absolute;
    top: 204px;
    left: 50px;
    text-align: justify;
    width: 295px;
    color: white;
    font-size: 12.5px;
    line-height: 17px;
}
.cat{
    display: block;
    position: absolute;
    top: 310px;
    left: 50px;
    color: white;
}
.cate{
    display: block;
    position: absolute;
    top: 345px;
    color: white;
    width: 105px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    left: 50px;
    background: #242641;
    border-radius: 8px;
    font-size: 12px;
}
.ub{
  display: block;
  position: absolute;
  top: 420px;
  width: 150px;
  left: 50px;
  color: white;
}
.edificio{
    display: block;
    position: absolute;
    top: 450px;
    left: 50px;
    color: white;
    width: 105px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    left: 50px;
    background: #242641;
    border-radius: 8px;
    font-size: 12px;
}
.encontro{
    display: block;
    position: absolute;
    top: 525px;
    left: 50px;
    color: white;
    font-size: 16px;
    line-height: 21px;
    
}
.alumno{
    display: block;
    position: absolute;
    top: 540px;
    left: 50px;
    font-size: 19px;
    line-height: 25px;
    color: white;
}
.carrera{
    display: block;
    position: absolute;
    top: 570px;
    left: 50px;
    font-size: 16px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.74);
}
.tel{
    display: block;
    position: absolute;
    top: 595px;
    left: 50px;
    font-size: 16px;
    line-height: 21px;
    color: white;
    color: rgba(255, 255, 255, 0.74);
}
.pre{
    display: block;
    position: absolute;
    top: 630px;
    left: 40%;
    color: #8F7DFA;
}
.rectangulo4{
  display: block;
  position: absolute;
  width: 300px;
  height: 77px;
  left: 17%;
  top: 680px;
  color: white;
  background: #8F7DFA;
  border-radius: 8px;
  font-size: 24px;
  line-height: 77px;
}
.was{
  display: block;
  position: absolute;
  left: 16.67%;
  right: 16.71%;
  top: 50%;
  bottom: 16.67%;
}

